header
    .container
        .row
            nav(role="navigation").navbar.navbar-default
                .navbar-header
                    button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    h1
                        .language
                            case site.lang
                                when 'ru'
                                    a(href=site.transUrl)
                                        span!= site.transLang
                                        span.active!= site.lang
                                when 'en'
                                    a(href=site.transUrl)
                                        span.active!= site.lang
                                        span!= site.transLang
                        .navbar-brand
                            a(href="/")!= rtt(site.title)
                        
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.navbar-right
                        each page in getCollection("pages").findAll().toJSON()
                            li: a(href=page.url)= page.anchor
