.row
    .col-xs-12.col-sm-4.col-md-2
        h3 
        h3!= rtt(__({ru:'Для клиентов', en:'For Clients'}))
        p!= __({ru:'Скоро все будет.', en:'Comming soon.'})
        ul.list-unstyled.clients
            //- each page in getCollection("clients").toJSON()
                //- li: a(href=page.url)= rtt(page.anchor)
    .col-xs-12.col-sm-4.col-md-3
        h3!= rtt(__({ru:'Текущие проекты', en:'Recent Projects'}))
        p!= __({ru:'Скоро все будет.', en:'Comming soon.'})
        ul.list-unstyled
    .col-xs-12.col-sm-4.col-md-2
        h3!= rtt(__({ru:'Рубрики блога', en:'Blog Headings'}))
        ul.list-unstyled
            for tag in getTagCloud()
                li: a(href=tag.url)!= rtt(translateTag(tag.tag))
                    sup= getPostsForTag(tag).length
    .col-xs-12.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0
        h3!= rtt(__({ru:'Читаю', en:'I am read'}))
        ul.list-unstyled
            li: a(href="http://bezumkin.ru", target="_blank")!= rtt(site.bezumkinru)
            li: a(href="http://grinchik.ru", target="_blank")!= rtt(site.grinchikru)
            li: a(href="http://thrash.me", target="_blank")!= rtt(site.thrashme)
            li: a(href="http://markhamstra.com", target="_blank")!= rtt(site.markhamstracom)
            li: a(href="http://shevko.com", target="_blank")!= rtt(site.shevkocom)
    .col-xs-12.col-sm-6.col-md-3
        h3!= rtt(__({ru:'Быстрая связь', en:'Fast Contacts'}))
        ul.list-unstyled
            li
                a(href="mailto:ivan@klimchuk.com")
                    i.icon.icon-envelope 
                    | ivan@klimchuk.com
            li
                a(href="tel:+375336381092")
                    i.icon.icon-phone 
                    | + 375 33 638 10 92
            li
                a(href="skype:Alroniks?chat") 
                    i.icon.icon-skype 
                    | Alroniks
