.row
    .col-xs-12.col-sm-4.col-md-2
        h3!= rtt(__({ru:'Для клиентов', en:'For Clients'}))
        ul.list-unstyled.clients
            li
                a(href="http://alroniks.com", target="_blank")= __({ru:'Разработка на MODX', en:'MODX Development'})
                p.details= __({ru:'интернет-магазины, сайты', en:'e-commerce, websites'})
                p.price= __({ru:'от 500$', en:'from 500$'})
            li 
                a(href="http://alroniks.com", target="_blank")= __({ru:'Техподдержка', en:'Support'})
                p.details= __({ru:'техническая поддержка решений на MODX и не только', en:'technical support of MODX solutions and others'})
                p.price= __({ru:'от 20$/час', en:'from 20$/h'})     
            li 
                a(href="http://alroniks.com", target="_blank")= __({ru:'MODX дополнения', en:'MODX Addons'})
                p.details= __({ru:'разработка модулей под заказ', en:'development of custom addons'})
                p.price= __({ru:'от 150$', en:'from 150$'})
            
    .col-xs-12.col-sm-4.col-md-3
        h3!= rtt(__({ru:'Текущие проекты', en:'Recent Projects'}))
        ul.list-unstyled.projects
            li
                a(href="https://store.simpledream.ru/packages/ecommerce/mspwebpay.html", target="_blank") mspWebPay
                p.details= __({ru:'Метод оплаты заказов miniShop2 через WebPay', en:'Method of payment miniShop2 orders through WebPay'})
            li
                a(href="https://store.simpledream.ru/packages/ecommerce/mspassistbelarus.html", target="_blank") mspAssistBelarus
                p.details= __({ru:'Метод оплаты заказов miniShop2 через Assist Belarus', en:'Method of payment miniShop2 orders through Assist Belarus'})
            li
                a(href="https://store.simpledream.ru/packages/ecommerce/msppayu.html", target="_blank") mspPayU
                p.details= __({ru:'Оплата заказов miniShop2 через платежный сервис PayU', en:'Method of payment miniShop2 orders through paygate PayU'})
    .col-xs-12.col-sm-4.col-md-2
        h3!= rtt(__({ru:'Рубрики блога', en:'Blog Headings'}))
        ul.list-unstyled
            for tag in getTagCloud()
                li: a(href=tag.url)!= rtt(translateTag(tag.tag))
                    sup= getPostsForTag(tag).length
    .col-xs-12.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0
        h3!= rtt(__({ru:'Читаю', en:'I am read'}))
        ul.list-unstyled
            li: a(href="http://bezumkin.ru", target="_blank")!= rtt(site.bezumkinru)
            li: a(href="http://grinchik.ru", target="_blank")!= rtt(site.grinchikru)
            li: a(href="http://thrash.me", target="_blank")!= rtt(site.thrashme)
            li: a(href="http://markhamstra.com", target="_blank")!= rtt(site.markhamstracom)
    .col-xs-12.col-sm-6.col-md-3
        h3!= rtt(__({ru:'Быстрая связь', en:'Fast Contacts'}))
        ul.list-unstyled
            li
                a(href="mailto:ivan@klimchuk.com")
                    i.icon.icon-envelope 
                    | ivan@klimchuk.com
            li
                a(href="tel:+375336381092")
                    i.icon.icon-phone 
                    | + 375 33 638 10 92
            li
                a(href="skype:Alroniks?chat") 
                    i.icon.icon-skype 
                    | Alroniks
