posts = getPostsForTag(document.tag)
title =  'Записи с тегом <em>'+ document.tagName +'</em> - ' + posts.length

h1!= rtt(title)

aside
    ul.list-unstyled.list-inline.tagscloud
        for tag in getTagCloud()
            li
                a(href=tag.url)!= rtt(tag.tag)
                sup= tag.count

for post in posts.toJSON()
    article.post
        h2: a(href=post.url)!= rtt(post.anchor)
            if (post.tags)
                ul.list-unstyled.list-inline.tags
                    each tag in post.tags
                        li: a(href!=getTagUrl(tag))!= rtt(tag)
        .intro!= rt(cuttedContent(post.contentRenderedWithoutLayouts))
        if hasReadMore(post.contentRenderedWithoutLayouts)
            a.more(href= post.url) Читать далее...
        .info
            time(pubdate, datetime=post.date)= pubDate(post.date)

    
