h3!= rtt(__(ru:'Профили в соцсетях', en: 'Social Profiles'))
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-github
            a(href="#")!= __(ru:'Гитхаб', en:'GitHub')
        li: a(href="#")!= __(ru:'Мой круг', en:'Moikrug.ru')
        li
            i.icon.icon-linkedin
            a(href="#")!= __(ru:'Линкедин', en:'LinkedIn')
        li: a(href="#")!= __(ru:'Хабрахабр', en:'Habrahabr.ru')
        li: a(href="#")!= __(ru:'Онлайнер', en:'Onliner.by')
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-twitter
            a(href="#")!= __(ru:'Твитер', en:'Twitter')
        li
            i.icon.icon-facebook
            a(href="#")!= __(ru:'Фейсбук', en:'Facebook')
        li
            i.icon.icon-vk
            a(href="#")!= __(ru:'Вконтакте', en:'VK.com')
        li
            i.icon.icon-instagram
            a(href="#")!= __(ru:'Инстаграм', en:'Instagram')
        li
            i.icon.icon-book
            a(href="#")!= __(ru:'Библа', en:'Bibla.ru')