h3!= rtt(__({ru:'Профили в соцсетях', en: 'Social Profiles'}))
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-github
            a(href="https://github.com/Alroniks")!= __({ru:'Гитхаб', en:'GitHub'})
        li: a(href="http://ivan-klimchuk.moikrug.ru")!= __({ru:'Мой круг', en:'Moikrug.ru'})
        li
            i.icon.icon-linkedin
            a(href="http://www.linkedin.com/in/ivanklimchuk/en")!= __({ru:'Линкедин', en:'LinkedIn'})
        li: a(href="http://habrahabr.ru/Alroniks")!= __({ru:'Хабрахабр', en:'Habrahabr.ru'})
        li: a(href="https://profile.onliner.by/user/234107")!= __({ru:'Онлайнер', en:'Onliner.by'})
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-twitter
            a(href="https://twitter.com/iklimchuk")!= __({ru:'Твитер', en:'Twitter'})
        li
            i.icon.icon-facebook
            a(href="https://www.facebook.com/Alroniks")!= __({ru:'Фейсбук', en:'Facebook'})
        li
            i.icon.icon-vk
            a(href="http://vk.com/ivanklimchuk")!= __({ru:'Вконтакте', en:'VK.com'})
        li
            i.icon.icon-instagram
            a(href="http://instagram.com/alroniks")!= __({ru:'Инстаграм', en:'Instagram'})
        li
            i.icon.icon-book
            a(href="http://bibla.ru/alroniks")!= __({ru:'Библа', en:'Bibla.ru'})