h3!= rtt(__({ru:'Профили в соцсетях', en: 'Social Profiles'}))
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-github
            a(href="https://github.com/Alroniks", target="_blank")!= __({ru:'Гитхаб', en:'GitHub'})
        li 
            i.icon.icon-bitbucket
            a(href="https://bitbucket.org/alroniks", target="_blank")!= __({ru:'Битбакет', en:'Bitbucket'})
        li
            i.icon.icon-circle-o
            a(href="http://ivan-klimchuk.moikrug.ru", target="_blank")!= __({ru:'Мой круг', en:'Moikrug.ru'})
        li
            i.icon.icon-linkedin
            a(href="http://www.linkedin.com/in/ivanklimchuk/en", target="_blank")!= __({ru:'Линкедин', en:'LinkedIn'})
        li 
            i.icon.icon-h-square
            a(href="http://habrahabr.ru/users/Alroniks", target="_blank")!= __({ru:'Хабрахабр', en:'Habrahabr.ru'})
.col-xs-6
    ul.list-unstyled
        li
            i.icon.icon-twitter
            a(href="https://twitter.com/iklimchuk", target="_blank")!= __({ru:'Твитер', en:'Twitter'})
        li
            i.icon.icon-facebook
            a(href="https://www.facebook.com/Alroniks", target="_blank")!= __({ru:'Фейсбук', en:'Facebook'})
        li
            i.icon.icon-vk
            a(href="http://vk.com/ivanklimchuk", target="_blank")!= __({ru:'Вконтакте', en:'VK.com'})
        li
            i.icon.icon-instagram
            a(href="http://instagram.com/alroniks", target="_blank")!= __({ru:'Инстаграм', en:'Instagram'})
        li
            i.icon.icon-foursquare
            a(href="https://foursquare.com/iklimchuk", target="_blank")!= __({ru:'Форсквер', en:'Foursquare'})